<div class="container">
 

    <div class="row">
 
      <div class="col-md-6 order-md-1" >
        <h4 class="mb-3">Login Form </h4>
        <hr class="mb-4"> 
        <form [formGroup] = "userFormgroup" class="needs-validation" novalidate="">

          <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" formControlName="username" id="username" placeholder="Username" required="">
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Password </label>
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">**</span>
              </div>
            <input type="password" class="form-control" formControlName="password" id="email" placeholder="your secret">
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>
          </div>

                    
          
                                        
            <button class="btn btn-success " type="button"  [disabled]="userFormgroup.invalid" (click)= "loginform(userFormgroup.value)">Login</button>
            <button  class="btn btn-primary " type="button"  routerLink='/editstudent'>Sign Up</button>
            
          

        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2017-2018 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
